 .u-section-1 {
  background-image: none;
  min-height: 910px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 48px auto 0 calc(((100% - 1140px) / 2) + 266px);
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 100px 0 57px auto;
}

.u-section-1 .u-image-1 {
  min-height: 625px;
  background-image: url("images/56.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 616px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 574px;
  margin-left: auto;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  margin-left: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  margin-left: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  margin-left: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  margin-left: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 20px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 863px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 66px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-image-1 {
    min-height: 439px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 578px;
  }

  .u-section-1 .u-list-1 {
    width: 580px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 541px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 724px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 397px;
    margin-left: calc(((100% - 1140px) / 2) + 266px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: auto;
    margin-bottom: 58px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 333px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 979px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1044px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 926px;
    margin-right: calc(((100% - 1140px) / 2) + 231px);
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 840px);
    margin: -830px 0 60px auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 659px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    width: 551px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 610px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 800px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-right: calc(((100% - 340px) / 2) + 31px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: 100px;
    margin-bottom: 57px;
  }

  .u-section-1 .u-image-1 {
    min-height: 415px;
  }

  .u-section-1 .u-list-1 {
    width: 291px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 935px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 9px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 503px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-2 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -1px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 503px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-3 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    margin-top: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 493px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-4 .u-table-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    margin-top: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 473px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-5 .u-table-1 {
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-5 .u-btn-1 {
    margin-top: 20px;
  }
}