 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 911px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 53px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-1 .u-text-1 {
  margin: -27px auto 0 346px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1242px;
  margin: 41px auto 60px -76px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/IMG_6160.JPG");
  background-position: 50% 50%;
  min-height: 625px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-1 .u-list-1 {
  width: 730px;
  margin: 0 -675px 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 574px;
  margin-left: auto;
  grid-gap: 0px 0px;
}

.u-section-1 .u-list-item-1 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-4 {
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 625px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 801px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 285px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 473px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 541px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 541px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 680px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 218px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 362px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 979px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 362px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1043px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 164px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 543px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 610px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-bottom: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 800px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-left: 103px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 342px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 935px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 9px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 342px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 503px;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-2 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 55px;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-2 .u-table-1 {
    margin-top: -1px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 503px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-3 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 55px;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-table-1 {
    margin-top: -1px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 503px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-4 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 55px;
}

.u-section-4 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-table-1 {
    margin-top: -1px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 503px;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 11px auto 0 0;
  padding: 0;
}

.u-section-5 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 55px;
}

.u-section-5 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 575px) {
  .u-section-5 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-table-1 {
    margin-top: -1px;
  }
}