.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 98px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -34px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 179px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: -34px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 332px;
  height: 468px;
  margin: -345px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 70px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: -34px auto 0 20px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 40px;
  height: 40px;
  color: rgb(16, 129, 224) !important;
  margin: -40px -20px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -31px 20px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}